# Set Membership

In [1]:
#Importing the important libraries to handle the assignment
import math

In [2]:
#Creating the Universal set (positive integers between [1, 12])
#by using square brackets that means both 1 and 12 are inclusive
U = {1,2,3,4,5,6,7,8,9,10,11,12}

#Creating Set A (A= even numbers between [1, 10])
A = {2,4,6,8,10}

#Creating set B (B= 3,8,11,12)
B ={3,8,11,12}

# Creating Set C (C = 2,3,6,8,9,11)
C = {2,3,6,8,9,11}

In [ ]:
# Question one is $ A \cap B$
#The aim is getting the intersection of setA and setB

ans1 = A.intersection(B)   #using method

            #or
ans1 = A&B                 #using operator

print(ans1)

{8}

In [ ]:
# Question two is $ A \cup C$
#The aim is getting the union of setA and setC

ans2 = A.union(C)        #using method

            #or 
ans2 = A|C               # using operator

print(ans2)

{2, 3, 4, 6, 8, 9, 10, 11}

In [5]:
# Question three is getting the absolute complement of setA

ans3 = U - A
print(ans3)

{1, 3, 5, 7, 9, 11, 12}

In [6]:
# Question four is getting the the absolute complement of B
ans4 = U - B
print(ans4)

{1, 2, 4, 5, 6, 7, 9, 10}

In [7]:
# Question five is getting the complement of the union of sets A and B
ans5 = U - (A|B)
print(ans4)

{1, 2, 4, 5, 6, 7, 9, 10}

In [ ]:
# Question six is getting the intersect of setB and complement of setC
complementC = U - C  #getting the complement of setC first
ans6 = B & (complementC)        
print(ans6)

{12}

In [ ]:
#Question seven is gettting A∖B (AminusB or the relative complement of BinA)
#This means it's the set of elements that are in A but not in B.

ans7 = A.difference(B)  #using method

            #or
            
ans7 = A - B

print(ans7)

{2, 10, 4, 6}

In [ ]:
# Question eight is getting C\(B\A)
# This means getting elements in C that are not in the relative complement of AinB
relative1 = B - A  #getting B\A first
ans8 = C- relative1

        # or

ans8 = C- (B-A)
print(ans8)

{8, 9, 2, 6}

In [28]:
# Question nine is getting (CnA)U(C\B)
intersect = C & A  #getting the intersect of sets C and A
relative = C - B   #getting the realtive complement of sets C and B
ans9 = intersect|relative 

        #or 

ans9 = (C&A)|(C-B)
print(ans9)

{2, 6, 8, 9}

# Inclusion-Exclusion Principle

In [52]:
# Use sets A, B and C to identify the number of distinct elements using the inclusion exclusion principle.
# ( ∣ A ∪ B ∪ C ∣=∣ A ∣ + ∣ B ∣ + ∣ C ∣ − ∣ A ∩ B ∣ − ∣ A ∩ C ∣ − ∣ B ∩ C ∣ + ∣ A ∩ B ∩ C ∣ )

distinct_elements = len(A)+len(B)+len(C)-len(A&B)-len(A&C)-len(B&C)+len(A&B&C)
print(distinct_elements)
print(f"The number of distinct elements in (A U B U C) is {distinct_elements}")

# So there are 9 distinct elements in the combined union of sets A, B, and C.

9
The number of distinct elements in (A U B U C) is 9

In [51]:
max=len(A|B|C)
print(max)

9

In [50]:
# veryfing the above
max==distinct_elements

True

# Set Operations
- Mary is preparing for a road trip from her hometown, Boston, to Chicago. She has quite a few pets, yet luckily, so do her friends. They try to make sure that they take care of each other's pets while someone is away on a trip. A month ago, each respective person's pet collection was given by the following three sets:

## Species

In [73]:
# Creating the dataset
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

In [74]:
# Sadly, Eve's turtle passed away last week. Let's update her pet list accordingly.
Eve.remove("Turtle")
print(f"Eve = set {Eve}")

Eve = set {'Rabbit', 'Goldfish'}

In [78]:
# This time around, Nina promised to take care of Mary's pets while she's away. But she also wants to make sure her pets are well taken care of. As Nina is already spending a considerable amount of time taking care of her own pets, adding a few more won't make that much of a difference.
# Nina does want to update her list while Mary is away.
Nina.update(Mary)
print(f"Nina = set {Nina}")

Nina = set {'Cat', 'Dog', 'Donkey', 'Rabbit', 'Horse', 'Chicken', 'Chinchilla', 'Parrot', 'Goldfish'}

In [76]:
# Mary, on the other hand, wants to clear her list altogether while away:
Mary.clear()
print(f"Mary= {Mary}")

Mary= set()

In [77]:
# Look at how many species Nina is taking care of right now.
species=len(Nina)
print(f" Nina is taking care {species} species right now")

 Nina is taking care 9 species right now

In [79]:
# Taking care of this many pets is weighing heavily on Nina. She remembered Eve had a smaller collection of pets lately, and that's why she asks Eve to take care of the common species. This way, the extra pets are not a huge effort on Eve's behalf.
# Let's update Nina's pet collection.
Nina.difference_update(Eve)
print(f"Nina = set{Nina}")

Nina = set{'Cat', 'Dog', 'Donkey', 'Horse', 'Chicken', 'Chinchilla', 'Parrot'}

## Cars
- Mary dropped off her pets at Nina's house and finally made her way to the highway. Awesome, her vacation has begun! She's approaching an exit. At the end of this particular highway exit, cars can either turn left (L), go straight (S) or turn right (R). It's pretty busy and there are two cars driving close to her. What you'll do now is create several sets. You won't be using Python here, it's sufficient to write the sets down on paper. A good notion of sets and subsets will help you calculate probabilities in the next lab!

Note: each set of action is what all three cars are doing at any given time

In [2]:
# a. Create a set A of all possible outcomes assuming that all three cars drive in the same direction
SetA = {('L', 'L', 'L'), ('S', 'S', 'S'), ('R', 'R', 'R')}
print(SetA)

{('L', 'L', 'L'), ('R', 'R', 'R'), ('S', 'S', 'S')}

In [3]:
# b. Create a set B of all possible outcomes assuming that all three cars drive in a different direction.
import itertools

Directions = ['L', 'S', 'R']
setB = set(itertools.permutations(Directions, 3))

print(setB)

{('L', 'R', 'S'), ('R', 'S', 'L'), ('S', 'R', 'L'), ('L', 'S', 'R'), ('R', 'L', 'S'), ('S', 'L', 'R')}

In [4]:
# c. Create a set C of all possible outcomes assuming that exactly 2 cars turn right.
directions = ['R', 'R', 'L'], ['R', 'R', 'S']
setC = set()

for combo in directions:
    permutations = set(itertools.permutations(combo))
    setC.update(permutations)

print(setC)

{('R', 'R', 'L'), ('R', 'R', 'S'), ('L', 'R', 'R'), ('R', 'L', 'R'), ('S', 'R', 'R'), ('R', 'S', 'R')}

In [5]:
# d. Create a set D of all possible outcomes assuming that exactly 2 cars drive in the same direction.
directions = ['L', 'S', 'R']
setD = set()

# For each majority direction (appearing twice)
for d in directions:
    # For each distinct minority direction
    for other in directions:
        if other != d:
            base = [d, d, other]
            perms = set(itertools.permutations(base))
            setD.update(perms)

print(setD)
print(len(setD))

{('R', 'R', 'S'), ('L', 'L', 'R'), ('R', 'S', 'R'), ('L', 'S', 'S'), ('R', 'L', 'R'), ('S', 'R', 'R'), ('R', 'L', 'L'), ('S', 'L', 'S'), ('R', 'R', 'L'), ('L', 'L', 'S'), ('L', 'R', 'L'), ('S', 'S', 'L'), ('R', 'S', 'S'), ('S', 'S', 'R'), ('L', 'R', 'R'), ('S', 'R', 'S'), ('S', 'L', 'L'), ('L', 'S', 'L')}
18

In [ ]:
# e. Write down the interpretation and give all possible outcomes for the sets denoted by:

    # 1. D'
# - Set D contains all outcomes where exactly two cars go in the same direction (e.g., 'L','L','R', 'S','S','R', etc.).
# - So D' includes outcomes that are not in D, i.e.:
# - All cars go in the same direction → belongs to Set A
# - All cars go in different directions → belongs to Set 
SetA = {('L', 'L', 'L'), ('S', 'S', 'S'), ('R', 'R', 'R')}
D_complement = setA|setB
print(f"D' is set{D_complement}")

    # 2. CnD
CnD= setC&setD
print(f"CnD is set{CnD}")

    # 3. CuD
CuD=setC|setD
print(f"CuD is set{CuD}")

CnD is set{('R', 'R', 'S'), ('R', 'L', 'R'), ('S', 'R', 'R'), ('R', 'R', 'L'), ('L', 'R', 'R'), ('R', 'S', 'R')}
CuD is set{('L', 'L', 'R'), ('R', 'L', 'R'), ('S', 'L', 'S'), ('L', 'L', 'S'), ('L', 'R', 'L'), ('S', 'S', 'R'), ('S', 'L', 'L'), ('R', 'S', 'R'), ('R', 'R', 'S'), ('L', 'S', 'S'), ('S', 'R', 'R'), ('R', 'L', 'L'), ('R', 'R', 'L'), ('L', 'S', 'L'), ('S', 'S', 'L'), ('L', 'R', 'R'), ('R', 'S', 'S'), ('S', 'R', 'S')}

## European Countries
- Note that this data is from 2018, so EU membership may have changed.

In [38]:
#import library
import pandas as pd

# Load Europe and EU
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'Europe') 
eu = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'EU')

In [39]:
#code to remove any whitespace from names
europe['Country'] = europe['Country'].str.strip()
eu['Country'] = eu['Country'].str.strip()

In [40]:
#preview data
europe.head(5)

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]
3,4.0,France,65233271,7.76,0.39,261022,177,66991000,2017-03-01 00:00:00,EU,[3]
4,5.0,United Kingdom,65110276,7.75,0.75,484000,92,66573504,2016-12-30 00:00:00,EU,Official estimate

In [41]:
#preview data
eu.tail()

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
23,24,Latvia,1950116,0.38,-0.96,-18661,1929900,2018-01-01,Monthly official estimate
24,25,Estonia,1315635,0.26,-0.02,-309,1318705,2018-01-01,Official estimate
25,26,Cyprus,854802,0.17,0.76,6533,845800,2016-12-31,Official estimate
26,27,Luxembourg,590667,0.12,2.50,14779,590667,2017-01-01,Official estimate
27,28,Malta,440433,0.09,1.39,6114,460297,2016-12-31,Official estimate

In [ ]:
# Get sets of country names
europe_countries = set(europe['Country'])
eu_countries = set(eu['Country'])

In [53]:
# Check to confirm that the EU countries are a subset of countries in Europe
eu_countries<=europe_countries
print(f"Are EU countries a subset of European countries?  {eu_countries<=europe_countries} ")

Are EU countries a subset of European countries?  True

In [70]:
# Find the set of countries that are in Europe but not the EU
Non_Eu_Countries = europe_countries - eu_countries
print(f"The following are the Non-EU-Countries:{Non_Eu_Countries}")

The following are the Non-EU-Countries:{'Moldova', 'Armenia', 'Andorra', 'Georgia', 'Macedonia', 'Liechtenstein', 'Kosovo', 'Switzerland', 'Bosnia and Herzegovina', 'Montenegro', 'Vatican City', 'Russia', 'Isle of Man (UK)', 'San Marino', 'Azerbaijan', 'Ukraine', 'Belarus', 'Faroe Islands (Denmark)', 'Åland Islands (Finland)', 'Svalbard (Norway)', 'Gibraltar (UK)', 'Serbia', 'Jersey (UK)', 'Monaco', 'Norway', 'Iceland', 'Albania', 'Turkey', 'Guernsey (UK)'}